p {
    color: blue;
    font-size: 3rem
}

/* mobile-first //min = tela menor //max = tela maior
@media screen and (min-width: 600px){
    p{
        color: red;
    }
}
*/

@media screen and (max-width: 600px){
    p{
        color: red;
    }
}