h1 {
    font-family: 'Borel', 'Arial', sans-serif;
    font-weight: 700; /*(peso da fonte) algumas fontes não permitem alterações, então usa-se uma variação da mesma*/
    /*font-variant: small-caps;*/
    text-shadow: 4px 4px 5px rgb(126, 126, 126); /*eixo x/y/dispersão*/
}

h2 {
    font-family: 'Borel', 'Arial', sans-serif;
    /*font-variant: small-caps;*/
    /*economizando código: atributos na mesma linha = consultar material*/
}

p {
    font-family: 'Space', 'Arial', sans-serif;
    letter-spacing: 1px;
    font-weight: 1.2;
    text-align: left;
    text-indent: 20px; /*tab do parágrafo*/
    /*direction: rtl;*/
    /*'styles'&'computed' = dará as informações padrões no navegador*/
}

body{
    background-color: rgba(255, 226, 97, 0.644);
}

@font-face {
    font-family: 'Borel';
    src: url("/assets/fonts/Borel/Borel-Regular.ttf");
    
}
@font-face {
    font-family: 'Space';
    src: url("../assets/fonts/Space_Grotesk/SpaceGrotesk-VariableFont_wght.ttf");
}
@font-face {
    font-family: 'Lobster2';
    src: url("../assets/fonts/Lobster_Two/LobsterTwo-Bold.ttf");
}
@font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/font-roboto-master/fonts/Roboto-Regular.ttf');
    src: url("/assets/fonts/font-roboto-master/fonts/Roboto-Regular.ttf")
    format('truetype'),
    url(../assets/fonts/font-roboto-master/fonts/Roboto-Regular.eot)
    format('embedded-opentype'),
    url(../assets/fonts/font-roboto-master/fonts/Roboto-Regular.woff)
    format('woff');
}
