h1 {
    font-family: 'Borel', 'Arial', sans-serif;
}

h2 {
    font-family: 'Borel', 'Arial', sans-serif;
}

p {
    font-family: 'Space', 'Arial', sans-serif;
}

@font-face {
    font-family: 'Borel';
    src: url("/assets/fonts/Borel/Borel-Regular.ttf");
    
}
@font-face {
    font-family: 'Space';
    src: url("../assets/fonts/Space_Grotesk/SpaceGrotesk-VariableFont_wght.ttf");
}
@font-face {
    font-family: 'Lobster2';
    src: url("../assets/fonts/Lobster_Two/LobsterTwo-Bold.ttf");
}
@font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/font-roboto-master/fonts/Roboto-Regular.ttf');
    src: url("/assets/fonts/font-roboto-master/fonts/Roboto-Regular.ttf")
    format('truetype'),
    url(../assets/fonts/font-roboto-master/fonts/Roboto-Regular.eot)
    format('embedded-opentype'),
    url(../assets/fonts/font-roboto-master/fonts/Roboto-Regular.woff)
    format('woff');
}