
        body {
            background-size: cover;
            font-family: Arial;
            text-align: center;
        }

        .titulo {
            color: rgb(201, 144, 22);
            font-size: 40px;
            font-weight: bold;
            margin-top: 50px;
        }

        .texto {
            background-color: rgba(33, 145, 111, 0.8);
            color:rgba(177, 7, 86, 0.8);
            padding: 20px;
            margin: 20px auto;
            max-width: 600px;
            border-radius: 10px;
        }

        .texto p {
            font-size: 30px;
        }
   