.botao {
    background-color: orange;
    color: white;
    font-family: Impact, sans-serif;
    text-align: center;
    margin-left: 520px;
    margin-right: 520px;
    margin-top: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 180px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 180px;
    border: 7px solid white;
    transition: 0.7s;
}


.botao:hover {
    background-color: orangered;
    color: lightgray;
    border: 7px solid lightgrey;
    transition: 0.7s;
}

body {
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.container {
    margin-top: 80px;
}

a {
    text-decoration:none ;
    color: white;
}

a:hover {
    color: lightgray;
}

/* Fazendo o Grid do jogo, organiza em tabelas de 3 linhas e 5 colunas*/

.grid-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}

.grid-item {
    width: 100px;
    height: 100px;
    text-align: center;
    border: 1px solid black;
}

img {
    max-width: 100%;
    max-height: 100%;
}

